@import "tailwindcss";

@theme {
  --primary-black: #121212;
  --primary-white: #ffffff;
  --light-grey: #f5f5f5;
  --medium-grey: #a0a0a0;
  --dark-grey: #333333;

  --sans: 'Open Sans', 'Roboto', 'sans-serif';
  --serif: 'Lora', 'serif';
  --montserrat: 'Montserrat', 'sans-serif';
}

@plugin "@tailwindcss/typography";
